"*":
  "atom-beautify":
    js: {}
  "atom-ide-ui":
    "atom-ide-console": {}
    "atom-ide-datatip": {}
    use: {}
  "atom-material-ui":
    colors:
      predefinedColor: "Blue Grey"
    tabs:
      compactTabs: true
      tintedTabBar: true
    ui:
      panelContrast: true
      panelShadows: true
      useAnimations: false
  "autocomplete-plus":
    autoActivationDelay: 150
    enableBuiltinProvider: false
    includeCompletionsFromAllBuffers: false
  "bracket-matcher":
    highlightMatchingLineNumber: true
  "color-picker":
    automaticReplace: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "intentions"
    ]
    packagesWithKeymapsDisabled: [
      "item-list"
    ]
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "chester-atom-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    scrollPastEnd: true
    scrollSensitivity: 200
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  emmet: {}
  "exception-reporting":
    userId: "c5421730-fe58-461e-88c8-3cd6352bb2f5"
  "file-icons": {}
  "flow-ide": {}
  "fuzzy-finder":
    ignoredNames: [
      "node_modules"
    ]
  "ide-flowtype":
    customFlowPath: {}
  "ide-typescript":
    returnTypeInAutocomplete: "right"
  linter:
    lintOnChange: false
  "linter-eslint":
    scopes: [
      "source.js"
      "source.jsx"
      "source.js.jsx"
      "source.flow"
      "source.babel"
      "source.js-semantick"
    ]
  "linter-ui-default":
    panelHeight: 329
    useBusySignal: false
  minimap: {}
  "native-ui":
    tabs: {}
    ui: {}
  "platformio-ide-terminal":
    ansiColors:
      normal:
        green: "#43db3d"
      zBright:
        brightGreen: "#ffffff"
    style:
      animationSpeed: 0
      theme: "silver-aerogel"
    toggles:
      autoClose: true
  "seti-ui":
    compactView: true
    disableAnimations: true
  "status-bar": {}
  tabs: {}
  "unity-ui":
    showIcons: true
  "vim-mode-plus":
    keymapCCToChangeInnerSmartWord: true
    keymapSToSelect: true
    keymapYToYankToLastCharacterOfLine: true
  welcome:
    showOnStartup: false
